html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Quicksand", serif;
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

.polish {
    display: none;
}

.wrapper {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.images, .main-content, .highlight {
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.images {
    width: 44%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
}

.image > p {
    position: absolute;
    margin: 40px;
    bottom: 0;
    font-size: 1rem;
    color: #ffffff;
}

.highlight {
    width: 3%;
    background-color: #a00f0f59;
    /* background-color: #da715f; */
    overflow: hidden;
}

.main-content {
    width: 55%;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.heading > p {
    writing-mode: vertical-lr;
    margin: 0;
    margin-top: 1rem;
}

.heading > p:hover {
    cursor: pointer;
}

.contact {
    text-align: center;
}

#img1 {
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

#img2 {
    background: url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img3 {
    background: url(img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img4 {
    background: url(img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* #img4 > p {
    transform-origin: left;
    padding-top: 20px;
    transform: rotate(270deg);
} */
#img5 {
    background: url(img/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img6 {
    background: url(img/img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img7 {
    background: url(img/img7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img8 {
    background: url(img/img8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img9 {
    background: url(img/img9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img10 {
    background: url(img/img10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img11 {
    background: url(img/img11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cycler{position:relative;}
#cycler div{
    position:absolute;
    z-index:1;
}
#cycler div.active{z-index:3}

.section {
    padding: 40px;
    padding-left: 60px;
    min-height: calc(100vh - 80px);
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2, h3 {
    color:#a00f0fa6;
}

#events a {
    text-decoration: underline;
}

.nav {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin-top: 3rem;
}

#about, #events, #podKast, #services {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#back-to-top {
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 40px;
    display: none;
}

#back-to-top:hover {
    cursor: pointer;
}

.podKast-section {
    display: flex;
    align-items: center;
}

.podKast-section > img {
    width: 50%;
    max-width: 300px;
    margin-right: 30px;
}

.podKast-text {
    font-size: 0.85rem;
}

.podKast-text > h3{
    color: #000;
}

@media (max-width: 600px) {
    .images {
        display: none;
    }
    .main-content {
        width: 97%;
    }
    #back-to-top {
        margin: 15px;
    }
}